.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store

*/.Rhistory
*/*/.Rhistory
*/*/*/.Rhistory
*/*/*/*/.Rhistory

*/.RData
*/*/.RData
*/*/*/.RData
*/*/*/*/.RData

*/.Ruserdata
*/*/.Ruserdata
*/*/*/.Ruserdata
*/*/*/*/.Ruserdata